.cursor-pointer {
  cursor: pointer !important;
}

.logo {
  height: 70px;
  border-bottom: 2px solid rgba(66, 88, 110, 0.2);
}

li {
  border-bottom: 2px solid rgba(66, 88, 110, 0.2);
}

.nav-item:hover,
.active {
  background-color: rgba(66, 88, 110, 0.2);
}

a.active {
  color: #faa827 !important;
  background: transparent;
}
